body {
    background-color: rgb(46, 46, 46);
    color: white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    color: orange;
    margin: 24px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: orange;
    background-color: gray;
    padding: 12px;
    margin: 24px;
}

img {
    height: 500px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p,
h2,
ol,
ul {
    margin: 24px;
}